In [4]:
import pandas as pd
# Save and Load Model
import pickle
import json

In [2]:
# Loading Model Files

with open('rf_gridcv_best.pkl', 'rb') as file_1:
  rf_gridcv_best = pickle.load(file_1)

with open('Drop_Columns.txt','r') as file_2:
  Drop_Columns = json.load(file_2)

C:\Users\luay9\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\sklearn\base.py:299: UserWarning: Trying to unpickle estimator MinMaxScaler from version 1.2.2 when using version 1.2.1. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(
C:\Users\luay9\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\sklearn\base.py:299: UserWarning: Trying to unpickle estimator StandardScaler from version 1.2.2 when using version 1.2.1. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(
C:\Users\luay9\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\sklearn\base.py:299: UserWarning: Trying to unpickle estimator ColumnTransformer from version 1.2.2 when using version 1.2.1. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(
C:\Users\luay9\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\sklearn\base.py:299: UserWarning: Trying to unpickle estimator NearestNeighbors from version 1.2.2 when using version 1.2.1. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(
C:\Users\luay9\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\sklearn\base.py:299: UserWarning: Trying to unpickle estimator DecisionTreeClassifier from version 1.2.2 when using version 1.2.1. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(
C:\Users\luay9\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\sklearn\base.py:299: UserWarning: Trying to unpickle estimator RandomForestClassifier from version 1.2.2 when using version 1.2.1. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(

In [5]:
# data inference
df_inf = pd.read_csv('G:\My Drive\FTDS\phase 1\p1gc3\h8dsft_p1g3_Ahmad Luay Adnani_inference.csv')
df_inf_copy = df_inf.copy()
df_inf_copy = df_inf.drop(['Unnamed: 0'],axis=1)
df_inf_copy

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,65.0,0.0,56.0,0.0,25.0,0.0,237000.00,5.00,130.0,0.0,0.0,207.0,0.0
1,67.0,0.0,213.0,0.0,38.0,0.0,215000.00,1.20,133.0,0.0,0.0,245.0,0.0
2,75.0,0.0,582.0,0.0,20.0,1.0,265000.00,1.90,130.0,1.0,0.0,4.0,1.0
3,72.0,1.0,943.0,0.0,25.0,1.0,338000.00,1.70,139.0,1.0,1.0,111.0,1.0
4,65.0,0.0,198.0,1.0,35.0,1.0,281000.00,0.90,137.0,1.0,1.0,146.0,0.0
5,55.0,0.0,7861.0,0.0,38.0,0.0,263358.03,1.10,136.0,1.0,0.0,6.0,1.0
6,75.0,1.0,81.0,0.0,38.0,1.0,368000.00,4.00,131.0,1.0,1.0,10.0,1.0
7,53.0,1.0,707.0,0.0,38.0,0.0,330000.00,1.40,137.0,1.0,1.0,209.0,0.0
8,62.0,0.0,61.0,1.0,38.0,1.0,155000.00,1.10,143.0,1.0,1.0,270.0,0.0
9,75.0,0.0,582.0,0.0,40.0,0.0,263358.03,1.18,137.0,1.0,0.0,107.0,0.0

In [6]:
# Removing unnecessary features
df_inf_final = df_inf_copy.drop(Drop_Columns,axis=1).sort_index()
df_inf_final

,age,creatinine_phosphokinase,ejection_fraction,platelets,serum_creatinine,serum_sodium,time,DEATH_EVENT
0,65.0,56.0,25.0,237000.00,5.00,130.0,207.0,0.0
1,67.0,213.0,38.0,215000.00,1.20,133.0,245.0,0.0
2,75.0,582.0,20.0,265000.00,1.90,130.0,4.0,1.0
3,72.0,943.0,25.0,338000.00,1.70,139.0,111.0,1.0
4,65.0,198.0,35.0,281000.00,0.90,137.0,146.0,0.0
5,55.0,7861.0,38.0,263358.03,1.10,136.0,6.0,1.0
6,75.0,81.0,38.0,368000.00,4.00,131.0,10.0,1.0
7,53.0,707.0,38.0,330000.00,1.40,137.0,209.0,0.0
8,62.0,61.0,38.0,155000.00,1.10,143.0,270.0,0.0
9,75.0,582.0,40.0,263358.03,1.18,137.0,107.0,0.0

In [7]:
# Predict using RandomForest

y_pred_inf = rf_gridcv_best.predict(df_inf_final) #rf_gridcv_best from load files
y_pred_inf

array([1., 0., 1., 1., 0., 1., 1., 0., 0., 0.])

In [9]:
# Create DEATH_EVENT Prediction DataFrame

y_pred_inf_df = pd.DataFrame(y_pred_inf, columns=['DEATH_EVENT_Prediction'],index=df_inf_final.index)
round(y_pred_inf_df.head(10),2)

   DEATH_EVENT_Prediction
0                     1.0
1                     0.0
2                     1.0
3                     1.0
4                     0.0
5                     1.0
6                     1.0
7                     0.0
8                     0.0
9                     0.0

In [10]:
# Comparing the real default_payment_next_month and predicted classification
model_inf = pd.concat([df_inf_copy['DEATH_EVENT'], y_pred_inf_df['DEATH_EVENT_Prediction']], axis=1).sort_index()
model_inf

   DEATH_EVENT  DEATH_EVENT_Prediction
0          0.0                     1.0
1          0.0                     0.0
2          1.0                     1.0
3          1.0                     1.0
4          0.0                     0.0
5          1.0                     1.0
6          1.0                     1.0
7          0.0                     0.0
8          0.0                     0.0
9          0.0                     0.0